body{
    margin:     0%;
    padding:    0%;
    box-sizing: border-box;
}

#calculate{
    width:            570px;
    height:           100%;
    margin:           0 auto;
    border-radius:    45px;
    /* border:        1px solid;*/
    background-color: hsl(0, 0%, 95%);
}

#display{
    margin: 0%;
    width:  100%;
    height: 40%;
    border: none;
}

#input{
    margin:           0%;
    width:            100%;
    height:           300px;
    border:           none;
    border-radius:    20px;
    font-size:        5rem;
    padding:          15px;
    background-color: hsl(0, 0%, 95%);
    color:            black;
    font-family:      arial,sans-serif ;
    box-sizing:       border-box;
}

#buttons{
    width:         100%;
    height:        60%;
    margin:        0   auto;
    padding-left:  10px;
    margin-bottom: 40px;
}

button{
    width:         125px;
    height:        125px;
    border-radius: 35px;
    font-size:     3rem;
    margin:        5px;
    background:    linear-gradient(300deg , white , rgb(210, 210, 210) );
    border:        none;
    box-shadow:    inset 5px 5px 10px #fff, inset -2px -2px 10px rgb(210, 210, 210);
    font-family:   arial,sans-serif ;
    transition:    ease-in-out 0.8s ;
}

#zero{
    width:  264px;
    height: 125px;
}

.rightbtn{
    width:            125px;
    height:           125px;
    border-radius:    35px;
    font-size:        3rem;
    margin:           5px;
    background:       linear-gradient(300deg ,rgb(255, 183, 88) ,rgb(228, 129, 0));
    border:           none;
    box-shadow:       inset 2px 2px 10px #fff, inset -2px -2px 10px rgb(143, 143, 143);
    font-family:      arial,sans-serif ;
    color:            #fff;
}

.topbtn{
    width:            125px;
    height:           125px;
    border-radius:    35px;
    font-size:        3rem;
    margin:           5px;
    background:       linear-gradient(300deg , rgb(240, 240, 240) , rgb(200, 200, 200) );
    border:           none;
    box-shadow:       inset 2px 2px 10px #fff, inset -2px -2px 10px rgb(143, 143, 143);
    font-family:      arial,sans-serif ;
}

button:hover{
    box-shadow:    5px 5px 10px #fff, -2px -2px 10px rgb(210, 210, 210);
    cursor:        pointer;
}

button:active{
    background:    linear-gradient(300deg , white , rgb(190, 190, 190) );
}

.rightbtn:active{
    background:       linear-gradient(300deg , rgb(255, 166, 49) , rgb(190, 108, 0) );
}

.topbtn:active{
    background:       linear-gradient(300deg , rgb(230, 230, 230) , rgb(190, 190, 190) );
}

#sum{
    width:            125px;
    height:           125px;
    border-radius:    35px;
    font-size:        3rem;
    margin:           5px;
    background:       linear-gradient(300deg ,rgb(255, 183, 88) ,rgb(228, 129, 0));
    border:           none;
    box-shadow:       inset 2px 2px 10px #fff, inset -2px -2px 10px rgb(143, 143, 143);
    font-family:      arial,sans-serif ;
    color:            #fff;
}

#sum:active{
    background:       linear-gradient(300deg , rgb(255, 166, 49) , rgb(190, 108, 0) );
}