* {
    margin:           0;
    padding:          0;
    box-sizing:       border-box;
}

#main {
    width:            100vw;
    height:           100vh;
    background-color: hsl(0, 0%, 90%);
}

#sidebar {
    width:            15%;
    height:           100%;
    background-color: #ffffff90;
    border-radius:    25px;
    padding:          25px 0 25px 25px;
    margin:           15px 0 15px 15px;
    position:         relative;
}

#content {
    width:           85%;
    height:          100%;
}

#header {
    width:           100%;
    height:          30%;
    padding:         30px 20px 15px 25px;
    display:         flex;
    flex-direction:  row;
    justify-content: space-evenly;
}

.headerleft{
    display:         flex;
    flex-direction:  column;
}

#content1 {
    width:           100%;
    height:          70%;
    align-items:     center;
}

#left-content { 
    width:           40%;
    height:          100%;
    align-items:     center;
    padding:         20px 10px 20px 20px;
}

#left-content-inner { 
    width:           100%;
    height:          100%;
    justify-content: space-between;
    align-items:     center;
}

#right-content {
    width:           60%;
    height:          100%;
    align-items:     center;
    padding:         20px 20px 20px 10px;
}

#right-content-inner {
    width:          100%;
    height:         100%;
    align-items:    center;
}

#col8 {
    width:          100%;
    height:         80%;
    margin-bottom:  5px;
    padding:        25px;
    display:        flex;
    flex-direction: column;
}

#col9 {
    width:          100%;
    height:         20%;
    padding:        25px;
}

#col10 {
    width:          100%;
    height:         50%;
    margin-bottom:  5px;
    align-items:    center;
} 
 
#col11 { 
    width:          100%;
    height:         50%;
    display:        flex;
    flex-direction: column;
    padding:        30px;
} 
 
#row12 { 
    width:          40%;
    height:         100%;
    margin-right:   5px;
    display:        flex;
    flex-direction: column;
    padding:        25px;
}   
 
#row13 { 
    display:        flex;
    flex-direction: column;
    width:          60%;
    height:         100%;
    padding:        25px;
} 

.item {
    background-color: #ffffff90;
    border-radius:    20px;
}

.flexbox-r {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
}

.flexbox-c {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
}

.date{
    margin-bottom:   130px;
}

.text{
    color:           hsl(0 , 0% , 70%);
    font-size:       65px;
    display:         flex;
}    

#IRAN{
    color:           hsl(0 , 0% , 40%);
}

.play{
    width:            90%;
    border-radius:    10px;
    background-color: white;
    padding:          10px 20px;
    box-shadow:       0 1px 3px 0 hsl(0 , 0% , 75%);
    margin-bottom:    30px;
}

#logo{
    font-size:        25px;
    font-weight:      bold;
    font-family:      Arial, Helvetica, sans-serif;
    padding-bottom:   25px;
}  
  
.titleside{  
    color:            hsl(0 , 0% , 60%);
    font-family:      Arial, Helvetica, sans-serif;
}  
  
.hrside{  
    color:            hsl(0 , 0% , 70%);
    width:            90%;
    opacity:          20%;
    margin-bottom:    10%;
}  
  
.generalitems{  
    color:            hsl(0 , 0% , 10%);
    display:          flex;
    flex-direction:   row;
    font-family:      Arial, Helvetica, sans-serif;
    align-items:      center;
    margin:           20px 20px 20px 0px;
    height:           35px;
}  

.generalitems:hover {
    border:           none;
    background-color: hsl(0 , 0% , 90%);
    cursor:           pointer;
    width:            90%;
    height:           35px;
    border-radius:    10px;
    box-shadow:       0 3px 5px 0 hsl(0 , 0% , 85%);
    transition:       0.5s;
}

#flash{
    background-color: hsl(0 , 0% , 90%);
    border-radius:    50%;
    width:            5px;
    height:           5px;
    padding:          10%;
    position:         absolute;
    left:             90%;
    display:          flex;
    align-items:      center;
    justify-content:  center;
}

#headerside{
    display:          flex;
    flex-direction:   row;
}

#flash:hover{
    cursor:           pointer;
    background-color: #ffffff90;
    transition:       0.5s;
    box-shadow:       0 3px 5px 0 hsl(0 , 0% , 70%);
}

.squ{
    display:          flex;
    flex-direction:   row;
    border:           1px solid black;
    width:            10px;
    height:           10px;
    margin-right:     10px;
    margin-left:      10px;
}  
  
.num{  
     display:         flex;
     position:        absolute;
     left:            75%;
} 

.plus{ 
    width:            20px;
    height:           20px;
    border-radius:    50%;
    border:           solid 1px hsl(0 , 0% , 70%);
    display:          flex;
    align-items:      center;
    justify-content:  center;
    left:             80%;
    position:         absolute;
} 

.titlerow{ 
    display:          flex;
    flex-direction:   row;
    position:         relative;
    margin-bottom:    30px;
} 
  
.titlerow:hover{
    cursor:          pointer;
    transition:      0.5s;
    box-shadow:      0 px 3px 0 hsl(0 , 0% , 70%);
    color:           black;
    transition:      0.5s;
}

.titlecli8{
    display:        flex;
    flex-direction: row;
    align-items:    center;
    font-size:      30px;
    font-family:    Helvetica, sans-serif;
}

.squclo8{
    display:        flex;
    flex-direction: row;
    border:         1px solid black;
    width:          20px;
    height:         20px;
    margin-right:   15px;
    margin-left:    15px;
}

.hrcol8{
    height:           3px ;
    background-color: black;
    border:           none;
    margin-bottom:    20px;
}

.pluscol8{
    width:           20px;
    height:          20px;
    border-radius:   50%;
    border:          solid 1px hsl(0 , 0% , 70%);
    display:         flex;
    align-items:     center;
    justify-content: center;
    margin-right:    15px;
}

.create:hover{
    cursor:           pointer;
    color:            black;
    transition:       0.5s;
    opacity:          100%;
}

.create{
    display:          flex;
    flex-direction:   row;
    opacity:          50%;
      
}

.ulstyle{
    list-style-type:  none;
}

.licheck:checked{
    opacity:          20%;
    -moz-user-input: auto;
    color:           hsl(0 , 0% ,70%);
}

.hrcol81{
    color:            hsl(0 , 0% ,70%);
    opacity:          20%;
    margin-bottom:    20px;
    margin-top:       20px;
}

.more{
    width:            2px;
    height:           2px;
    background-color: black ;
    border-radius:    50%;
    margin:           1px;
}

.outmore{
    width:           20px;
    height:          20px;
    border:          1px solid black;
    border-radius:   50%;
    align-items:     center;
    justify-content: center;
    display:         flex;
    flex-direction:  column;
    padding:         2px;
    opacity:         30%;
}

.outmore:hover{
    opacity:         100%;
    transition:      0.5s;
    cursor:          pointer;
}

.header12{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: space-between;
    font-family:     Arial, Helvetica, sans-serif;
    margin-bottom:   30px;
}

.title12{
    font-size:       30px;
}

.timer{
    font-size:       70px;
    margin-bottom:   35px;
}

.timerout{
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.pause{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: center;
    width:           50px;
    height:          50px;
    border-radius:   50%;
    margin:          5px;
    border:          none;
    box-shadow:      0 1px 3px 0 hsl(0 , 0% , 85%);
}

.record{
    display:         flex;
    align-items:     center;
    justify-content: center;
    width:           50px;
    height:          50px;
    border-radius:   50%;
    margin:          5px;
    border:          none;
    box-shadow:      0 1px 3px 0 hsl(0 , 0% , 85%);
}

.buttons{
    display:         flex;
    flex-direction:  row;
    justify-content: center;
}

.pausein{
    width:            10px;
    height:           20px;
    background-color: black;
    border:           none;
    border-radius:    2px;
    margin:           2px;
}

.recordin{
    width:            20px;
    height:           20px;
    background-color: red;
    border:           none;
    border-radius:    4px;
}

.header13{
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    font-family:     Arial, Helvetica, sans-serif;
    align-items:     center;
}

.mode13{
    display:         flex;
    flex-direction:  row;
}

.title13{
    font-size:       30px;
}

#weekly{
    font-size:       15px;
    margin:          5px;
}

#daily{
    font-size:       15px;
    margin:          5px;
}

#weekly:hover{
    color:          blue;
    font-size:      17px;
    cursor:         pointer;
    transition:     0.5s;
    border-bottom:  2px solid blue;
}

#daily:hover{
    color:          blue;
    font-size:      17px;
    cursor:         pointer;
    transition:     0.5s;
    border-bottom:  2px solid blue;
}

.content13{
    width:            100%;
    height:           100%;
    background-color: hsl(0, 0%, 90%);
    border-radius:    15px;
    display:          flex;
    margin-top:       15px;
    padding:          15px;
    padding-left:     25px;
}

.slideshowe{
    display:          flex;
    flex-direction:   row;
    align-items:      center;
    justify-content:  center;
    margin:           2px;
}

.circleleft{
    width:            5px;
    height:           5px;
    border-radius:    50%;
    background-color: black;
    opacity:          20%;
}

.circlecenter{
    width:            30px;
    height:           5px;
    border-radius:    20%;
    background-color: black;
    margin:           5px;
    opacity:          60%;
}

.circleright{
    width:            5px;
    height:           5px;
    border-radius:    50%;
    background-color: black;
    opacity:          20%;
}

.contentin13{
    display:          flex;
    flex-direction:   row;
    
}

.chartpie{
    display:         flex;
    justify-content: right;
    align-items:     center;
    margin-left:     160px;
}

.chartpie1{
    width:        100px;
    height:       100px;
    border:       7px solid hsl(0 , 0% , 75%);
    border-radius:50%;
}

.chartpie2{
    width:           130px;
    height:          130px;
    border:          7px solid hsl(0 , 0% , 75%);
    border-radius:   50%;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.chartpie3{
    width:           160px;
    height:          160px;
    border:          7px solid hsl(0 , 0% , 75%);
    border-radius:   50%;
    display:         flex;
    align-items:     center;
    justify-content: center;
    

}

#working{
    border-left: solid 4px orange;
    padding:     3px;
    font-size:   10px;
}

#tasks{
    border-left: solid 4px aqua;
    padding:     3px;
    font-size:   10px;
}

#project{
    border-left: solid 4px rgb(2, 192, 255);
    padding:     3px;
    font-size:   10px;
}

.number1{
    font-size: 30px;
}

.number2{
    opacity:   30%;
}

#chartpie33{
    width:           160px;
    height:          160px;
    border:          7px solid orange;
    border-radius:   50% ;
    display:         flex;
    align-items:     center;
    justify-content: center;
    
}

#chartpie2{
    width:           130px;
    height:          130px;
    border:          7px solid aqua; 
    border-radius:   50%;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

#chartpie1{
    width:        100px;
    height:       100px;
    border:       7px solid rgb(2, 192, 255);
    border-radius:50%;
}

#menu11{
    display:        flex;
    flex-direction: row;
    border-bottom: 2px solid hsl(0 , 0% , 85%);
}

#header11{
    font-family:    Helvetica, sans-serif;
    font-size:      30px;
    margin-bottom:  10px;
}

.menu{
    margin:         5px;
    opacity:        50%;
    font-family:    Helvetica, sans-serif;
    
}

.menu:hover{
    color:          blue;
    opacity:        100%;
    cursor:         pointer;
    font-family:    Helvetica, sans-serif;
}

#content11{
    display:        flex;
    flex-direction: row;
    padding:        20px;
}


.eleman{
    display:          flex;
    width:            20px;
    height:           20px;
    font-weight:      bold;
    color:            white;
    border-radius:    5px;
    background-color: red;
    justify-content:  center;
    align-items:      center;
    margin-right:     5px;
}

.para1{
    display:         flex;
    flex-direction:  row;
    margin-bottom:   40px;
}

.para2{
    display:         flex;
    flex-direction:  row;
    margin-bottom:   40px;
}

.para3{
    display:         flex;
    flex-direction:  row;
    margin-bottom:   40px;
}

.line{
    display:            flex;
    width:              200px;
    height:             8px;
    border-radius:      20px;
    background-color:   hsl(0 , 0% , 75%);
    margin-top:         10px;
    margin-bottom:      55px;
    margin-right:       10px;
    margin-left:        50px;
    align-items:        center;
    justify-content:    end;
    
}

.satr11{
    display:        flex;
    flex-direction: column;

}

#line1{
    display:            flex;
    width:              120px;
    height:             8px;
    border-radius:      20px;
    background-color:   rgb(2, 192, 255);
    margin-top:         10px;
    margin-bottom:      55px;
    margin-right:       10px;
    margin-left:        50px;
    align-items:        center;
}

#line2{
    display:            flex;
    width:              54px;
    height:             8px;
    border-radius:      20px;
    background-color:   rgb(2, 192, 255);
    margin-top:         10px;
    margin-bottom:      55px;
    margin-right:       10px;
    margin-left:        50px;
    align-items:        center;
}

#line3{
    display:            flex;
    width:              180px;
    height:             8px;
    border-radius:      20px;
    background-color:   rgb(2, 192, 255);
    margin-top:         10px;
    margin-bottom:      55px;
    margin-right:       10px;
    margin-left:        50px;
    align-items:        center;
}

.darsad{
    display:        flex;
    flex-direction: column;
    align-items:    center;
}

.darsad1{
    margin-bottom: 20px;

}

.darsad2{
    margin: 20px;
}

.darsad3{
    margin: 20px;
}

.contact1{

    width:         20px;
    height:        20px;
    border-radius: 50%;
    border:        1px solid black;
    margin-bottom: 20px;
}   

.contact2{
    width:         20px;
    height:        20px;
    border-radius: 50%;
    border:        1px solid black;
    margin:        20px;
}   

.contact3{
    width:         20px;
    height:        20px;
    border-radius: 50%;
    border:        1px solid black;
    margin:        20px;
}   

#contact{
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    margin-left:     190px;
}

.header11{
    display:         flex;
    flex-direction:  row;
    align-items:     center;
    justify-content: space-between;
}

.plus11{
    width:           20px;
    height:          20px;
    border-radius:   50%;
    border:          solid 1px hsl(0 , 0% , 70%);
    display:         flex;
    align-items:     center;
    justify-content: center;
    opacity:         50%;
}

.plus11:hover{
    cursor:  pointer;
    opacity: 100%;
}

.headerright{
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    margin-left:     480px;
}

.cusbox{
    display:          flex;
    flex-direction:   row;
    width:            140px;
    border-radius:    10px;
    background-color: white;
    padding:          10px 20px;
    box-shadow:       0 1px 3px 0 hsl(0 , 0% , 75%);
    margin-left:      200px;
}

.squ11{
    display:     flex;
    width:       10px;
    height:      10px;
    border:      1px solid black;
    margin-left: 10px;
    margin-top:  7px;
}

.headerrighttop{
    display:        flex;
    flex-direction: row;
    
}

#search{
    width:         20px;
    height:        20px;
    border-radius: 50%;
    border:        1px solid hsl(0 , 0% , 55%);
}

.divi{
    height:       30px;
    width:        1px;
    border:       1px solid hsl(0 , 0% , 55%);
    margin-left:  25px;
    margin-right: 25px;
}

.ring{
    width:         20px;
    height:        20px;
    border:        1px solid hsl(0 , 0% , 55%);
}

.user{
    width:         25px;
    height:        25px;
    border-radius: 50%;
    border:        1px solid hsl(0 , 0% , 55%);
}

.username{
    font-size:    15px;
    font-family:  Helvetica, sans-serif;
    margin-left:  15px;
    margin-right: 25px;
    color:        hsl(0 , 0% , 45%);
}

.flash{
    rotate: calc(270deg);
}

#header9{
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
}

.flashgroup{
    display:        flex;
    flex-direction: row;
}

.flashleft{
    display:         flex;
    justify-content: center;
    align-items:     center;
    width:           35px;
    height:          35px;
    border-radius:   50%;
    border:          1px solid hsl(0 , 0% , 75%);
    color:           black;
}  

.flashright{
     display:         flex;
    justify-content:  center;
    align-items:      center;
    width:            35px;
    height:           35px;
    border-radius:    50%;
    border:           1px solid hsl(0 , 0% , 75%);
    color:            black ;
    margin-left:      5px;
}

#title9{
    font-size:   30px;
    font-family: Arial, Helvetica, sans-serif;
}
